@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;400;800&display=swap');

body {
  background-color: royalblue;
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  text-align: right;
  color: #333;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  color: rgb(93, 18, 163);
  text-decoration: underline;
}

.search-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  width: 80%;
  box-sizing: border-box;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}

.search-container input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: rgb(93, 18, 163);
}

.list-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  width: 80%;
  box-sizing: border-box;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}

.list-container:hover {
  color: #dd2323;
}

.paper-detail {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #333;
}